################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/IPConverter/.vs/IPConverter
/IPConverter/obj
/IPConverter/bin
